@import '~antd/dist/antd.less';

.body {
  font-family: 'Montserrat', sans-serif;
}

footer {
  position : fixed;
  bottom : 0;
  height : 2em;
  line-height : 2em;
  padding: 0 1em;
  color: #0E1D1A;
  font-size: 1.2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(18deg, #68EB64, #2DA1E6) fixed;
}

.navbar {
  display: block;
  padding-top: 1em;
  padding-bottom: 5em;
  background: white;
}

.gradient {
  background: linear-gradient(18deg, #68EB64, #2DA1E6) fixed;
  height: 100vh;
  max-height: 100vh;
}

.home {
  text-align: center;
}

.title {
  font-family: 'Abril Fatface', cursive;
  margin: 0;
}

.subtitle {
  display: block;
  margin-bottom: 1em;
}

.searchBox input {
  border-radius: 10px;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
  border-top: 1px solid rgba(0, 0, 0, 0.85);
}

// Web layout
@media screen and (min-width: 601px) {
  .title {
    font-size: 12em;
  }

  .subtitle {
    font-size: 3em;
  }

  .searchBox {
    width: 50%;
  }
}

// Mobile layout
@media screen and (max-width: 600px) {
  .title {
    font-size: 6em;
  }

  .subtitle {
    font-size: 2em;
  }

  .searchBox {
    width: 100%;
  }
}

.playlistCard {
  width: 100%;
  border-radius: 1em;
}

.playlistImage {
  margin-top: -1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.root {
  font-family: Arial, sans-serif;
}

.playlists {
  text-align: center;
}

.ant-list-item {
  border-bottom: none;
}

.parameters {
  margin-top: 1em;
  padding: 1em;
}

.collapse-parameters {
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

.parameters-panel {
  border-radius: 10px;
  background: #FAFAFA;
}

.rounded-component {
  background: #FAFAFA;
  border-radius: 10px;

  .ant-collapse-item {
    border: none;
  }
}

.rounded {
  border-radius: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.spotify-login {
  background-color: #68EB64;
  border: 1px solid #68EB64;
}

.tagsList {
  overflow: scroll;
  width: 100%;
}

.seedTag {
  padding-left: 0;
  border-radius: 10px;
  overflow: hidden;

  .tagName {
    padding: 0 0.5em;
    display: inline;
  }
}

// Ant searchBox
.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.ant-select-item  {
  padding-left: 1em;
}